.main{
    flex:1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width:0;
    overflow-y: auto;
}
#content {
    flex: 1;
    padding: 170px 80px 300px 40px;
    width:100%;
    max-width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 0;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.35s ease, transform 0.35s ease;
}

#content.fade{
    opacity: 0;
    transform: translateY(50px);
}

body {
    display: flex;
    height:100vh;
    margin:0;
    background-color:rgb(0, 0, 0);
    color:white;
    font-family: "Fredoka", sans-serif;
    overflow: hidden;
}
.active {
    color: white;
    border-left: 3px solid rgb(26,113,84);
    padding-left: 12px;
}
.logo{
    width: 40px;
    height: auto;
}
.title{
    position: fixed;
    top:0 ;
    width: 100%;
    z-index: 1000;
    padding: 20px;
    font-family: "Fredoka", sans-serif;
    color : rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); /* Safari */
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    isolation: isolate;

}
.sidebar{
    color:white;
    padding: 170px 40px 40px 40px;
    width:320px;
    flex-shrink:0;
    font-family: "Fredoka", sans-serif;
    text-align: left;
    overflow-y: auto;
    justify-content: flex-start;
    background: rgba(255,255,255,.02);
    backdrop-filter: blur(8px);
    border-right: 1px solid rgba(255,255,255,.08);

}

.sidebarBtn{
    text-align: left;
    color:white;
    background: transparent;
    border: none;
    font-size: 1.75rem;
    transition: color .2s;
}

.nav-link {
    display: block; 
    background-color: transparent;
    font-size: 1.3rem;
    padding: 8px 12px;
    
    transition: all 0.4s ease; 
}

.nav-link.active {
    background-color: rgba(26, 113, 84, 0.5); 
    border-radius: 4px;
    color: #ffffff;
}

.bodyTitle{
    margin-bottom: 30px
}
.bodyText{
    margin-bottom: 25px
}
.custom-card{
    background:
    linear-gradient(
        135deg,
        rgba(255,255,255,.05),
        rgba(255,255,255,.02)
    );
    border: 5px solid rgba(255,255,255,.12);
    width:40%;
    padding:24px;
    min-height: 180px;
    color: white;
    text-align: left;
    box-shadow:
        0 15px 40px rgba(255,255,255,.1);
    transition:
        transform .25s ease,
        border-color .25s ease,
        box-shadow .25s ease;
}
.custom-card2{
    background:
    linear-gradient(
        135deg,
        rgba(255,255,255,.05),
        rgba(255,255,255,.02)
    );
    border: 5px solid rgba(255,255,255,.12);
    width:100%;
    padding:2px;
    min-height: 10px;
    color: white;
    text-align: left;
    box-shadow:
        0 15px 40px rgba(255,255,255,.1);
    transition:
        transform .25s ease,
        border-color .25s ease,
        box-shadow .25s ease;
}
.custom-card h4{
    margin-bottom:15px;
}

.custom-card p{
    opacity:.7;
    line-height:1.5;
}
.card-title a{
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease;
}

.smoothAnimation1{
    display: inline-block;     
    transform-origin: center;
    translate: 0px 0px;
    rotate: 0deg;
    transition: translate 2s ease, rotate 2s ease;
    
}

.smoothAnimation1.open{
   translate: 700px 0px;
   rotate: 360deg;
}

.card-title a:hover{
    color:rgb(224, 224, 206);
}
.section-line{
    height:2px;
    background:rgba(255,255,255,.15);
    width:100%;
    margin:30px 0;
}

.pfp{
    width: 60px; 
    height: 60px; 
    object-fit: cover;
    border: 2px solid rgba(193,135,247,.12);
    background:blueviolet;
    box-shadow: 0px 4px 10px 2px rgba(193, 135, 247, 0.5);
    transition:
        box-shadow 0.3s ease;

    padding: 2px;
}
.code{
    max-width: 50%; 
    height: auto; 
    size: 20%;
    object-fit: cover;
    border: 2px solid rgba(193,135,247,.12);
    background:blueviolet;
    box-shadow: 0px 4px 10px 2px rgba(193, 135, 247, 0.5);
    border-radius: 15px;
    transition:
        box-shadow 0.3s ease;

    padding: 2px;
}


.pfp:hover{
    box-shadow: 0px 4px 10px 2px rgba(193, 135, 247, 1);
}

.code:hover{
    box-shadow: 0px 4px 10px 2px rgba(193, 135, 247, 1);
}

.sidebarBtn:hover{
    color:rgb(160, 238, 192);;
}

.nav-link:hover{
    color:rgb(160, 238, 192);
}
.custom-card:hover{
    transform: translateY(-4px);
    border-color: rgba(26,135,84,.6);
    box-shadow:
        0 10px 30px rgba(0,0,0,.35);
}
.collapse-show{
    opacity: 0;
    transform: translateX(-10px);
    height: 0;
    overflow: hidden;

    transition:
        height .45s cubic-bezier(.16,1,.3,1),
        opacity .3s ease,
        transform .3s ease;
}

.collapse-show.open{
    opacity: 1;
    transform: translateX(0);
}